{% extends "base/admin.twig" %}

{% block content %}

    <h2 class="page-header">Atualizar produto</h2>

    <form name="newProduct" method="POST" action="{{ path_for('update-product', {id: product.id}) }}">
        <input type="hidden" readonly name="_METHOD" value="PUT">
        <input type="hidden" readonly name="validacao" value="product">
        {% include 'product/product-form.twig' %}
    </form>
{% endblock %}